.topBar {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Separa izquierda de derecha */
  padding: 0 2rem;
  border-bottom: 1px solid #e2e8f0;
  box-sizing: border-box;
}

.sectionRight {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.userEmail {
  font-size: 0.9rem;
  color: #64748b;
  font-weight: 500;
}

.btnLogout {
  background-color: #fef2f2;
  color: #dc2626;
  border: 1px solid #fee2e2;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btnLogout:hover {
  background-color: #dc2626;
  color: white;
}